MYSQL_ROOT_PASSWORD=change_root_password
MYSQL_DATABASE=skipper_cms
MYSQL_USER=skipper
MYSQL_PASSWORD=change_mysql_password

CMS_JWT_SECRET=change_me_to_at_least_32_chars_for_hs256
CMS_CORS_ALLOWED_ORIGINS=*

SITE_PUBLIC_PORT=8888
ADMIN_PUBLIC_PORT=8889

JAVA_OPTS=-Xms256m -Xmx512m
